{
    # Debug
    {$DEBUG}
}

# :80 {
#     tls internal
#     reverse_proxy caddy:80
# }

:80 {
    # tls internal
    root * /app
    # encode gzip
    # php_fastcgi php:9000 
    # header Access-Control-Allow-Origin         *
    # header Access-Control-Allow-Credentials    true
    # handle_response {
        file_server        
    # }
}